<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkFWTyBQZXJmb3Jt
		YW5jZSBIb3JzZSIsInBhY2thZ2VJZGVudGl0eSI6ImF2b19wZXJmb3JtYW5j
		ZV9ob3JzZV92MS4wLjVfaW9zMTguMi5zd2lmdHBtIiwicGFja2FnZUtpbmQi
		Onsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0
		Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTguMCJ9XSwicHJvZHVjdHMi
		Olt7Im5hbWUiOiJBVk8gUGVyZm9ybWFuY2UgSG9yc2UiLCJzZXR0aW5ncyI6
		W3siYnVuZGxlSWRlbnRpZmllciI6WyJBdm9QZXJmb3JtYW5jZTIwMjYwMDEi
		XX0seyJ0ZWFtSWRlbnRpZmllciI6WyI0SjJENlA1QkpYIl19LHsiZGlzcGxh
		eVZlcnNpb24iOlsiMS4wLjUiXX0seyJidW5kbGVWZXJzaW9uIjpbIjE3Il19
		LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3Ii
		OnsicHJlc2V0Q29sb3IiOnsicmF3VmFsdWUiOiJicm93biJ9fX0sImFwcENh
		dGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5idXNp
		bmVzcyJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19
		LCJjYXBhYmlsaXRpZXMiOlt7InB1cnBvc2UiOiJtZWRpYUxpYnJhcnkiLCJw
		dXJwb3NlU3RyaW5nIjoiTGEgYXBwIG5lY2VzaXRhIGFjY2VzbyBhIGxhIGJp
		Ymxpb3RlY2EgbXVsdGltZWRpYSBwYXJhIGltcG9ydGFyLCBleHBvcnRhciB5
		IGd1YXJkYXIgdsOtZGVvcyBlIGltw6FnZW5lcyBkZSBhbsOhbGlzaXMgYmlv
		bWVjw6FuaWNvIGVxdWluby4ifSx7InB1cnBvc2UiOiJjYW1lcmEiLCJwdXJw
		b3NlU3RyaW5nIjoiTGEgYXBwIHV0aWxpemEgbGEgY8OhbWFyYSBwYXJhIGNh
		cHR1cmFyIHbDrWRlb3MgeSBkYXRvcyBiaW9tZWPDoW5pY29zIGRlbCBjYWJh
		bGxvIGR1cmFudGUgbGFzIHNlc2lvbmVzIGRlIGVudHJlbmFtaWVudG8geSBh
		bsOhbGlzaXMuIn0seyJwdXJwb3NlIjoiYmx1ZXRvb3RoQWx3YXlzIiwicHVy
		cG9zZVN0cmluZyI6IkxhIGFwcCB1dGlsaXphIEJsdWV0b290aCBwYXJhIGNv
		bmVjdGFyc2UgY29uIHNlbnNvcmVzIGV4dGVybm9zIHkgZGlzcG9zaXRpdm9z
		IGRlIHRlbGVtZXRyw61hIGVxdWluYS4ifSx7InB1cnBvc2UiOiJsb2NhbE5l
		dHdvcmsiLCJwdXJwb3NlU3RyaW5nIjoiTGEgYXBwIHV0aWxpemEgbGEgcmVk
		IHBhcmEgc2luY3Jvbml6YXIgZGF0b3MgY29uIGVsIHNlcnZpZG9yIHkgZGlz
		cG9zaXRpdm9zIGRlIGFuw6FsaXNpcyBlbiB0aWVtcG8gcmVhbC4ifSx7ImZp
		bGVBY2Nlc3NMb2NhdGlvbiI6InVzZXJTZWxlY3RlZEZpbGVzIiwiZmlsZUFj
		Y2Vzc01vZGUiOiJyZWFkV3JpdGUiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9
		XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwi
		c3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6
		e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9
		fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNl
		RmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1
		bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAi
		OnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltd
		LCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0
		aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJBVk9Ib3JzZVBvc2UubWxw
		YWNrYWdlIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0aCI6IlJlc291
		cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbeyJr
		aW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFz
		aFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4
		ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W10sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6
		dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJBVk9Ib3Jz
		ZVBvc2UubWxwYWNrYWdlIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19LHsicGF0
		aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRp
		bmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVyZSI6eyJfMCI6
		IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJzd2lmdCJ9XSwi
		dHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lv
		biI6IjUuOS4wIn0sInRyYWl0cyI6W119
		</data>
		<key>manifestHash</key>
		<data>
		1cLZbeCk8hWRiCKAWPGX5qSVON9qs9k16fSDw6NA/uk=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.2.0-dev</string>
	</dict>
</dict>
</plist>
